.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #2B2A4C;
  margin-right: 5vw;
  height: 60vh;
  width: 30vw;
  border-radius: 1rem 1rem 1rem 0rem;
  position: relative;
  overflow: hidden; /* Ensure content stays within bounds */
}

.cardImage {
  height: 50vh;
  width: 50vw;
  border-radius: 1rem 1rem 0rem 0rem;
  object-fit: cover; /* Ensure image covers its container */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.container {
  display: inline-block;
  padding: 8px 16px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 2rem;
  color: #B31312;
  border-bottom: 2px solid #B31312;
  cursor: pointer;
  transition: color 0.3s, border-bottom-color 0.3s;
  max-width: 100%; /* Prevent overflow */
}

.container:hover {
  color: #EA906C;
  border-bottom-color: #EA906C;
}

.container:active {
  color: #0056b3;
  border-bottom-color: #0056b3;
}

@media only screen and (max-width: 900px) {
  .card {
    height: 50vh;
    width: 80vw;
    margin-right: 5vw; /* Adjust margin for smaller screens */
  }

  .cardImage {
    height: 40vh;
  }

  .container {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}
